@page {
    margin: 0.75in;
}

@media print {

    .no-print, .no-print *
    {
        display: none !important;
    }

    .print-black,
    .print-black a {
        color: #111111 !important;
    }

    body{
        font-size: 16px !important;
    }

    .oes-body-wrapper {
        padding-top: 0 !important;
    }

    header {
        display: none !important;
    }

    .oes-home-img {
        height: 100px;
        padding-bottom: 40px;
    }

    .oes-sidebar .collapse {
        display: block !important;
    }

    .oes-main-content.oes-mt-3 {
        margin-top: 0 !important;
    }
}